.achievementsPage{
    background-size: 70%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1%;
    padding:60px;
    background-color:rgba(243, 201, 201, 0.5) ;
    border: 3px solid purple;
    border-radius: 20px;
    overflow-x: hidden;
}
.homePage{
    display: flex;
    gap:1%;
    border-bottom: 3px solid purple;
    border-radius: 20px;
}
.logo{
    width: 5%;
    height: 5%;
    margin-left: 20%;
    margin-bottom: 2em;

}
.nav{
    text-decoration: none;
    color: rgb(5, 65, 65);
}
.navLink{
    display: flex;
    gap:45%;
}
.achievementButtons{
    padding: 10px;
    width:20%;
    margin-top: 5%;
    border-radius: 20px;
    border: 1px solid purple;
}
.classInput{
    border-radius: 20px;
    border: 1px solid purple;
    padding: 22px;
   }
   .dailyGoals{
    margin-left: 20%;
   }

   @media screen and (min-width:280px) and (max-width:1000px){
    .navLink{
        display: flex;
        flex-direction: column;
        gap:5%;
        padding: 2px;
        margin-left: 2%;
    } 
    .logo{
        width: 15%;
        height: 25%;
        margin-left: 2%;
        margin-top: 15%;
        margin-bottom: 2em;
    
    } 
    .classInput{
        border-radius: 20px;
        border: 1px solid purple;
        padding: 1px;
        margin-right: 2%;
       }
       .homePage{
        display: flex;
        flex-direction: column;
        gap:5%;
        border-bottom: 3px solid purple;
        border-radius: 10px;
    }
    .assignmentSubmission{
        width: 20%;
    }
    .achievements{
        margin-left: 1%;
    }
    .classAchievements{
        margin-top: 1%;
    }
    .achievementButtons{
        padding: 2px;
        width:50%;
        margin-top: 5%;
        border-radius: 20px;
        border: 1px solid purple;
    }
    .nav{
        text-decoration: none;
        color: rgb(5, 65, 65);
        font-size: 1rem;
    }
    .achievementsPage{
        background-size: 70%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        padding:0;
        background-color:rgba(243, 201, 201, 0.5) ;
        border: 3px solid purple;
        border-radius: 20px;
    }
    .dailyGoals{
        margin-left: 0;
       }
    
}
