.heroContainer{
    width:50%;
    height: auto;
    color: black;
    background-attachment: fixed;
    margin-left:15%;
}
.form{
    border: 3px solid purple;
    border-radius: 20px;
    background-size: 50%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgba(243, 201, 201, 0.5) ;
}
.form1{
    background-image: linear-gradient(rgba(244, 229, 229, 0.5),rgba(244, 229, 229, 0.5) ), url("images/Screenshot_from_2024-04-24_22-10-46-removebg-preview.png");
    border: 3px solid purple;
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20%;
    background-color:rgba(243, 201, 201, 0.5) ;
    background-size: 50%;
    margin-top: 8%;
}
.signUp{
    display: flex;
    gap:15%;
    margin-left: 10%;
}
.logo{
    width: 20%;
    height: 5%;
    margin-top: 3%;
    margin-left: 5%;

}

.logos{
    width: 5%;
    height: 5%;
    margin-top: 2%;
    margin-left: 2%;
}
.SignUpButton{
 background-color: beige;
 width: 20%;
 height: 20%;
 margin-top:5% ;
 padding: 2%;
 margin-left: 30%;
 border-radius: 20px;
 text-decoration: none;
}
.logInButton{
    background-color: beige;
    width: 20%;
    height: 20%;
    margin-top:1% ;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
   }
.haveAccount{
    display: flex;
    gap: 13em;
}
.account{
    margin-top: 1em;
}

.SignUpform{
    margin-top: 10%;
    margin-left: 20%;
}
.SignUpLabels{
    color: rgb(8, 66, 66);
    font-size: 2rem;
}
.signUpInput{
    padding: 10px;
    color: rgb(8, 66, 66);
    width: 74%;
    border: 2px solid purple;
    font-size: 1rem;
}
.homePage{
    display: flex;
    gap:5%;
    border-bottom: 3px solid purple;
    border-radius: 20px;
}
.homePage1{
    display: flex;
    gap:5%;
    margin-right: 2px;
}
.programeName{
margin-left: 40%;
}
.nav{
    text-decoration: none;
    color: rgb(5, 65, 65);
}
.navLinks{
    display: flex;
    gap:25%;
}


.activities{
    display:flex;
    margin-left: 5%;
    gap:5%;
}

.navs{
    text-decoration: none;
    color: rgb(5, 65, 65);
    font-size: 1rem; 
}
.SignUpTitle{
    color: rgb(5, 65, 65);
    margin-top: 10%;
    margin-left: 20%;
}

.navLink{
    display: flex;
    gap:5%;
    padding: 20px;
}

#Summary{
    border:1px solid purple;
    margin:0 25% 0 25%;
    padding: 5%;
    position: relative;
    font-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(250, 224, 233) ;
}
.footer{
 display: flex;
 gap: 45%;
 margin-top: 2%;
 margin-bottom: 2%;
}

@media screen and (min-width:280px) and (max-width:1000px){
    .heroContainer{
        width:75%;
        background-attachment: fixed;
        height: auto;
        color: black;
        padding-left: 0;
    }  
    .form{
        border-radius: 20px;
        
        margin: 0; 
        margin-right: 0;

    }
    .signUp{
        display: flex;
        gap:10%;
        margin-left: 5%;
    }
    .logo{
        width: 20%;
        height: 5%;
        padding-top: 5%;
        margin-left: 2%;
    }
    .logos{
        width: 20%;
        height: 5%;
        padding-top: 10%;
        margin-left: 2%;
    }
    .SignUpform{
        margin-top: 15%;
        margin-left: 20%;
    }
    .SignUpLabels{
        color: rgb(8, 66, 66);
        font-size: 1rem;
    }
    .signUpInput{
        padding: 5px;
        color: rgb(8, 66, 66);
        width: 54%;
        border: 1px solid purple;
    }
  
    .SignUpButton{
        background-color: beige;
        width: 30%;
        height: 10%;
        margin-top:15% ;
        margin-left: 25%;
        padding: 5%;
        border-radius: 10px;
        font-size: 0.5rem;
       }
       .logInButton{
        background-color: beige;
        width: 30%;
        height: 20%;
        margin-top:3% ;
        padding: 10px;
        border-radius: 20px;
        margin-right: 35%;
        font-size: 0.5rem;
        text-decoration: none;
       }
       .navLinks{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        gap:2.5%;
    }
    
.activities{
    display:flex;
    margin-left: 5%;
    gap:5%;
    font-size: 0.5rem;
}

.navs{
    text-decoration: none;
    color: rgb(5, 65, 65);
    font-size: 0.5rem; 
}
.navLink{
    display: flex;
    gap:1%;
    font-size: 0.05rem;
    padding: 10px;
}
.achievementsPage{
        background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-left: 0;
    padding:5px;
    background-color: rgb(244, 205, 205);
    border: 3px solid purple;
    border-radius: 20px;
}
.classInput{
 width:90%;
margin-left: 3%;
}
.achievementButtons{
    margin-left: 3%;
}

#addButton{
    padding:3px;
    border: 1px solid purple;
    border-radius: 5px;
    margin-left: 5%;
    color:rgb(7, 49, 49);
    margin-top: 5%;
}
.haveAccount{
    display: flex;
    gap:1%;
    flex-direction: column;
}
#Summary{
    border:1px solid purple;
    margin:0 0 0 0;
    padding: 5%;
    position: relative;
    font-size: 0.7rem;
    background-color: rgb(250, 224, 233) ;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
   }
   .SignUpTitle{
    color: rgb(5, 65, 65);
    margin-top: 10%;
    margin-left: 20%;
    font-size: 1rem;
}

}